<footer class="page-footer {{ site.css }} darken-2">
    <div class="container">
        <div class="row">
            
            <div class="col l3 m6 s12">
                <h5 class="white-text">social-links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" target="_blank"><i class="mdi-social-person-add"></i> Facebook</a>
                    </li>
                </ul>
            </div>
                       
            <div class="col l3 m6 s12">
            <h5 class="white-text">where-i-live</h5>
            <p class="grey-text text-lighten-4"></p>
            </div>
            
            <div class="col l3 m6 s12">
                <h5 class="white-text">contact-me</h5>
                <p class="grey-text text-lighten-4"></p>
            </div>

                                               
            <div class="col l3 m6 s12">
                <h5 class="white-text">Dk</h5>
                <p class="grey-text text-lighten-4">Converting caffeine to code since 2010.</p>
            </div>


        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2015 DkIsTheBest
        </div>
    </div>
</footer>
